/* reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* app componenet */
.header-container {
  text-align: center;
  width: 100%;
  background-color: #293241;
  font-family: Arial, sans-serif;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 90%;
  margin-inline: auto;
  padding: 20px 0;
  font-size: 24px;
  color: #ffffff;
}

.header-buttons {
  display: flex;
  gap: 30px;
}

.header-button {
  display: inline-block;
  padding: 12px 24px;
  background-color: #4a6572;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.header-button:hover {
  background-color: #5a7d9a;
}

.header-title {
  display: inline-block;
  animation: changeColor 1s infinite linear alternate;
}

@keyframes changeColor {
  0% {
    color: white;
  }
  50% {
    color: #4a6572;
  }
  100% {
    color: white;
  }
}

/* home page */
.home-page {
  margin: 20px auto;
  max-width: 90%;
}
.create-block__error {
  color: red;
}

.home-page__button-block {
  display: flex;
  justify-content: center;
  gap: 20px;
  max-width: 90%;
  margin-inline: auto;
  align-items: center;
  margin-top: 20px;
}

.home-page__action-button {
  display: inline-block;
  padding: 12px 24px;
  background-color: #4a6572;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.home-page__action-button:hover {
  background-color: #5a7d9a;
}

.home-page__garage-info > span {
  margin-bottom: 10px;
  color: #ff0000;
  font-weight: 700;
  font-size: xx-large;
}

.home-page__winner-info {
  position: absolute;
  right: 0;
  left: 0;
  top: 50%;
  color: #293241;
  max-width: 50%;
  margin: 0 auto;
  font-size: 30px;
  font-weight: bold;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.288);
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* colorFOrm component */
.color-form {
  display: flex;
  gap: 20px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  justify-content: center;
}

.color-form__input {
  padding: 15px;
  border: 2px solid #ced4da;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s ease;
  max-width: 300px;
}

.color-form__input:focus {
  border-color: #007bff;
}

.color-form__color {
  height: 50px;
  width: 50px;
  border: none;
  border-radius: 5px;
  outline: none;
}

.color-form__error {
  color: #dc3545;
  font-size: 14px;
  padding-top: 20px;
}

.color-form__button {
  height: 50px;
  width: 200px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.color-form__button:hover {
  background-color: #0056b3;
}

.color-form__button:disabled,
.home-page__action-button:disabled {
  background-color: #ced4da;
  cursor: not-allowed;
}

.color-form__button:disabled:hover,
.home-page__action-button:disabled {
  background-color: #ced4da;
  cursor: not-allowed;
}

/* car */
.car {
  width: 100px;
  position: relative;
  min-height: 70px;
}

.car-component {
  margin: 20px auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.car-component__image-block {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: url("./assets/1.png");
  background-size: auto 90px;
}

.car-component__image-car {
  color: #dc3545;
  font-size: 20px;
  font-style: italic;
}

/* page */
.page-block {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 0 auto;
  margin-top: 20px;
  align-items: center;
  width: 100%;
}

.page-block__garage-text {
  font-size: 20px;
}

.page-block__btn-arrow {
  font-size: 20px;
  cursor: pointer;
  padding: 2px 3px;
}

/* modal css */
.modal {
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__container {
  width: 500px;
  height: 200px;
  padding: 20px;
  border-radius: 20px;
  text-align: center;
  background-color: #293241;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.modal__message {
  margin-bottom: 10px;
  color: #fff;
  font-size: 18px;
}

.modal__link {
  color: #ea3939;
  text-decoration: none;
  padding-left: 20px;
}

.modal__link:hover {
  text-decoration: underline;
}

/* winners page */

.winners-page {
  margin: 0 auto;
  width: 90%;
}

.winners-page__total {
  font-size: 25px;
  color: #ff0000;
  margin: 50px 0;
}

.winners-page__table {
  display: table;
  width: 100%;
  margin-top: 20px;
}

.winners-page__row {
  display: table-row;
}

.winners-page__header {
  font-weight: bold;
}

.winners-page__cell {
  display: table-cell;
  padding: 8px;
}

.winners-page__cell:hover {
  cursor: pointer;
}

.winners-page__cell img {
  display: block;
  margin: 0 auto;
}

.winners-page__cell:hover {
  cursor: pointer;
}

.car-winners-page {
  top: -25px;
  position: relative;
}
