* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.app-container {
  text-align: center;
  width: 100%;
  background-color: #293241;
  font-family: Arial, sans-serif;
}

.app-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 90%;
  margin-inline: auto;
  padding: 20px 0;
  font-size: 24px;
  color: #ffffff;
}

.app-buttons {
  display: flex;
  gap: 30px;
}

.app-button {
  display: inline-block;
  padding: 12px 24px;
  background-color: #4a6572;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.app-button:hover {
  background-color: #5a7d9a;
}

.app-title {
  display: inline-block;
  animation: changeColor 1s infinite linear alternate;
}

@keyframes changeColor {
  0% {
    color: white;
  }
  50% {
    color: #4a6572;
  }
  100% {
    color: white;
  }
}

/* form color */
.form {
  display: flex;
  gap: 20px;
  max-width: 90%;
  margin: 20px auto;
}

.form-color {
  height: 50px;
  width: 100px;
}

.car {
  width: 100px;
  position: relative;
  min-height: 70px;
}
.car-component {
  max-width: 90%;
  margin: 20px auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.car-component__image-block {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: url("./assets/1.png");
  background-size: auto 90px;
}

.create-block {
  display: flex;
  gap: 10px;
  margin: 20px auto;
  max-width: 90%;
}
.create-block__error {
  color: red;
}
.page-block {
  display: flex;
  gap: 10px;
  margin: 0 auto;
  margin-top: 20px;
  align-items: center;
  width: 350px;
}

.btns-block {
  display: flex;
  justify-content: center;
  gap: 20px;
  max-width: 90%;
  margin-inline: auto;
  align-items: center;
}
